<div class="row">
    <p> <img class="infoStatus" src="../../../assets/images/BlackCir.png" alt="Sin info"> Sin información</p>
    <p> <img class="infoStatus" src="../../../assets/images/GreenCir.png" alt="good status"> Estado normal</p>
    <p> <img class="infoStatus" src="../../../assets/images/YellowCir.png" alt="warnign status"> Estado irregular</p>
    <p> <img class="infoStatus" src="../../../assets/images/RedCircle.png" alt="red status"> Estado critico</p>
</div>

<div class="row">
    <div class="col-sm-4">
      <div class="card d-flex">
        <div class="card-body text-center">
            <img class="m-auto" src="../../../assets/images/time color.png" alt="bed info">
        <p> {{ now | date:'HH:mm:ss'}} </p>
        <p> {{ now | date:'EEEE, d MMMM , y'}} </p>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
          <img src="../../../assets/images/Bed no info.png" alt="bed info">
          <img src="../../../assets/images/Bed good.png"alt="bed info">
          <img src="../../../assets/images/bed warning.png" alt="bed info">
          <!-- <img src="../../../assets/images/bed bad.png" alt="bed info"> -->
            
            <p class="card-text"> <img src="../../../assets/images/SpO2.png" alt="Oxigenacion"> 0</p>
            <p class="card-text"> <img src="../../../assets/images/temperature.png" alt="Temperatura"> 0</p>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
          <img src="../../../assets/images/Bed no info.png" alt="bed info">
          <img src="../../../assets/images/Bed good.png"alt="bed info">
          <img src="../../../assets/images/bed warning.png" alt="bed info">
          <!-- <img src="../../../assets/images/bed bad.png" alt="bed info"> -->
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
        <img src="../../../assets/images/Bed no info.png" alt="bed info">
        <img src="../../../assets/images/Bed good.png"alt="bed info">
        <img src="../../../assets/images/bed warning.png" alt="bed info">
        <img src="../../../assets/images/bed bad.png" alt="bed info">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
          <img src="../../../assets/images/Bed no info.png" alt="bed info">
          <img src="../../../assets/images/Bed good.png"alt="bed info">
          <img src="../../../assets/images/bed warning.png" alt="bed info">
          <img src="../../../assets/images/bed bad.png" alt="bed info">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
          <img src="../../../assets/images/Bed no info.png" alt="bed info">
          <img src="../../../assets/images/Bed good.png"alt="bed info">
          <img src="../../../assets/images/bed warning.png" alt="bed info">
          <img src="../../../assets/images/bed bad.png" alt="bed info">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
  </div>