.infoStatus{
    padding-left: 25px;
}

.card{
    // max-height: 350px;
    // min-height: 350px;
    padding-top: 10px;
    margin-top: 30px;
}

p{
    font-size: larger;
}

.sp2ico img{
    height: 50px;
    
}

.temperatureIco img{
    height: 50px;
    margin-left: 50px;
}


.bg-bluedark{
    background-color: #122244;;
}

.bg-bluelight{
   background-color: #192C54;
}
