  <nav class="navbar navbar-inverse navbar-light bg-bluedark">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" routerLink="/home/" > <img id="logo" src="../../assets/images/Logo.png" alt="logotipo empresa" width="80px"> </a>
      </div>
      
      <div class="navbar-right userNavBar">
        <img class="userNavBar iconPerson circle" src="../../assets/images/iconPerson.svg" alt="">
          <a class="userNavBar text-white userName">  Bienvenido usuario </a>
          <img class="userNavBar iconedit circle" src="../../assets/images/Edit.png" alt="">
      </div>
      
    </div>
  </nav>
  <nav class="navbar navbar-inverse navbar-light bg-bluelight">
    <div class="container-fluid">
      <div class="navbar-header">
        
      </div>
      
      <div class="navbar-right ">
        <p class="text-white userName">  Ultima actualización 22 Nov 2020 14:51 pm </p>
      </div>
      
    </div>
  </nav>


