#logo{
    background-color: white;
}

.iconPerson{
    padding: 5px;
    width: 60px;
    height: 60px;

}

.iconedit{
    padding: 5px;
    width: 30px;
    height: 30px;
}

.circle { 
    background: white; 
    -moz-border-radius: 70px; 
    -webkit-border-radius: 70px; 
    border-radius: 70px;
 }

 .userNavBar{
     margin: 5px;
 }

 .bg-bluedark{
     background-color: #122244;;
 }

 .bg-bluelight{
    background-color: #192C54;
}

 .userName{
     font-size: larger;
 }
 