  <nav class="navbar navbar-inverse navbar-light bg-bluedark">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" routerLink="/home/" > <img id="logo" src="../../assets/images/Logo.png" alt="logotipo empresa" width="80px"> </a>
      </div>
      
      <div class="navbar-right userNavBar">
        <img class="userNavBar iconPerson circle" src="../../assets/images/iconPerson.svg" alt="">
          <a class="userNavBar text-white userName"> Bienvenido {{nombrePersona}} </a>
          <!-- <img class="userNavBar iconedit circle" src="../../assets/images/Edit.png" alt=""> -->
          <!-- <a name="" id="" class="btn btn-primary" href="/" role="button">Cerrar sesion </a> -->
          <!-- <a  type="" class="userNavBar text-white userName" (click)="logOut()" >  Cerrar sesion </a> -->
      </div>
      
    </div>
  </nav>
 

