
<div class="center">
  
    <div id="box1">
      <div class="container login-container">
        <div class="row">
            <div class="col-md-6 login-form-1 justify-content-center m-auto">
                
                <img class="m-auto" src="../assets/images/Logo.png" alt="Logotipo empresa" >
                
            </div>
            <div class="col-md-6 login-form-2">
                
                <form #f="ngForm" (ngSubmit)="procesarFormulario(f)">

                    <div class="form-group">
                        <input type="text" [(ngModel)]="usuario.username" class="form-control" name="username"  placeholder="Usuario" value="" />
                    </div>
                    <div class="form-group">
                        <input type="password" [(ngModel)]="usuario.password"  name="password"  class="form-control" placeholder="Contraseña" value="" />
                    </div>
                    <div class="form-group d-flex justify-content-center">
                        <!-- <input type="submit" class="btnSubmit" value="Login In"  routerLink="/home/" (click)="login()" /> -->
                        <input type="button" class="btnSubmit" value="Login In"  (click)="login()" />
                    </div>
                    
                </form>
            </div>
        </div>
    </div>
  
    </div>
    
    
  
  </div>
  
  